<!--
  Generated template for the WeatherConfiguration component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<ion-list>
	<ion-list-header>
		Wetter
	</ion-list-header>

	<ion-item>
		<ion-icon name="pin" item-left></ion-icon>
		<ion-input placeholder="Name der Stadt" type="text" value="" [(ngModel)]="this.city"></ion-input>
	</ion-item>
</ion-list>
<p text-center>
	Du wirst von mir über das Wetter an dem von dir gewählten Ort informiert.
</p>